@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("../public/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1b1f2a;
}

/* xl:bg-background-1 bg-background-2 h-img w-img bg-no-repeat bg-center bg-cover"> */

@media only screen and (max-width: 768px) {
  :root {
    background-image: url("../public/background-phone.png");
    background-position: center;
    background-size: 600px;
  }
}

.pop-up {
  :root {
    backdrop-filter: blur(10px);
  }
}
