@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("../public/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1b1f2a;
}

@media only screen and (max-width: 768px) {
  :root {
    background-image: url("../public/background-phone.png");
    background-position: center;
    background-size: 600px;
  }
}
